.top-title-text {
  margin-bottom: 0 !important;
}

.title-bottom-text {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #000; 
  line-height: 0.1em;
  margin: 10px 0 20px; 
}

.title-bottom-text span {
  background:#fff; 
  padding:0 10px; 
}